
.icon-mail:before { content: '\e800'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */